body{
    background-color: cornflowerblue;
    border: 20px solid;
}
.venu{
    margin: 100px ;
    border: 0cap;
    border-style: groove;
    background-color:rgb(186, 13, 146);
    font-size: medium;
    font-family: inherit;
    font-style: oblique;
    font-weight: 200;
    border-color: burlywood;
}
.para0{
    text-decoration: none;
    text-transform: none;
    text-align: center;
    text-decoration-color: blue;
    font-size: medium;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    border-color: red;
    padding: 10px;
    margin:10px;
    border: 10px;
}
